.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}


/* .featureSvg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  border: 2px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
} */
