/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --link-color: #111f68; 
  --link-hover-color: #000000;
  --link-icon-color: #000000;

  --ifm-color-primary: #6c63ff;              /* Galaxy Purple */
  --ifm-color-primary-dark: #5a52e0;          /* Deeper Purple */
  --ifm-color-primary-darker: #4e47c4;
  --ifm-color-primary-darkest: #3f39a3;

  --ifm-color-primary-light: #7c74ff;         /* Light Purple Glow */
  --ifm-color-primary-lighter: #8d85ff;
  --ifm-color-primary-lightest: #a7a1ff;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.05);  /* Subtle star light */
}

/* Dark mode */
[data-theme='dark'] {
  --link-color: #000000;          /* tráº¯ng */
  --link-hover-color: #111f68;
  --link-icon-color: #ffffff; 

  --ifm-color-primary: #8d85ff;              /* More glowing in dark */
  --ifm-color-primary-dark: #7c74ff;
  --ifm-color-primary-darker: #6c63ff;
  --ifm-color-primary-darkest: #534dcc;

  --ifm-color-primary-light: #a7a1ff;
  --ifm-color-primary-lighter: #c0bdff;
  --ifm-color-primary-lightest: #e0dfff;

  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1); /* Soft nebula highlight */
}

.navbar__icon-link svg {
  color: var(--link-icon-color);
}

.navbar__icon-link:hover svg {
  color: var(--ifm-color-primary-dark);
}

.hero__title {
  color: var(--link-color);
}

.hero__subtitle {
  color: var(--link-color);
}

.katex-html {
  display: none !important;
}
